﻿@{
    ViewData["Title"] = "School Page";
}

<div class="text-center">
    <h1 class="head1"> Class Schedule </h1>

    <table>
        <tr>
            <th rowspan="2"> Subject Code</th>
            <th rowspan="2"> Subject Title</th>
            <th rowspan="2"> Teacher</th>
            <th rowspan="2"> Unit</th>
            <th colspan="2"> Asynchronous</th>
            <th colspan="2"> Face to Face</th>
            <th rowspan="2"> Section </th>
        </tr>

        <tr>
            <td> Day </td>
            <td> Time </td>
            <td> Day </td>
            <td> Time </td>
        </tr>

        <tr>
            <td> ELEC323 </td>
            <td> IT ELECTIVE 3 </td>
            <td> Prof. Alamo </td>
            <td> 3 </td>
            <td> THU </td>
            <td> 3:00 P.M - 5:00 P.M </td>
            <td> SAT </td>
            <td> 10:00 A.M - 1:00 P.M </td>
            <td> BSIT32E2 </td>
        </tr>
    </table>

</div>